.container{
max-width: 1200px;
margin-left: 12%;

h3{
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}
}

.user-data{
  font-family: 'Rokkitt', serif;
  text-align: center;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px;
  width: 18%;

  .name {
    font-weight: bold;
    font-size: 20px;
      p{
        border-bottom: solid #00b330 2px;
      }
    }


  img{
    width: 100%;
  }

  .email{
    margin-bottom: 20px;
    color: #c9cfcb;
  }

  .address {
    text-transform:capitalize;
    margin-bottom: 8px;
  }

.phone{
  margin-bottom: 24px;
}

.ssn{
color: transparent;
text-shadow: 0px 0px 10px grey;
transition: all ease .5s;
}
.ssn:hover{
  color: #00b330;
  text-shadow: 0px 0px 0px transparent;
}
}
